body{
background-image:url(./Imágenes/Zara2.jpg);
background-size:100vw 100vh;
background-attachment:fixed;
font-size:22;
}
h1{
text-align:center;
color:cyan;
font-family:book antiqua;
}
h2{
text-align:left;
color:yellow;
font-family:didot;
}
p{
text-align:left;
}
.uno{
text-align:center;
color:yellow;
font-family:cambria;
}
h4{
text-align:right;
color:yellow;
font-family:didot;
}
h5{
color:yellow;
text-align:left;
font-family:optima;
}
.dos{
text-align:left;
color:pink;
font-family:optima;
}
.img{
align:center;
}
ol{
text-align:left;
color:yellowgreen;
}
.tres{
color:pink;
text-align:left;
font-family:didot;
}
table{
text-align:center;
table-align:left;
table-border:3;
background-color:lightyellow;
color:yellowgreen;
}
.cuatro{
color:pink;
text-align:right;
font-family:cambria;
}
ul{
text-align:right;
color:yellowgreen;
}
h6{
text-align:right;
color:blue;
font-family:calibri
}
a{
text-align:center;
color:wheat;
}